.help-center-page__image {
  background-image:
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.8) 0%,   /* dark top */
      rgba(255, 255, 255, 0.8) 40%,  /* fade */
      rgba(255, 255, 255, 0.9) 80%,  /* fade */
      rgba(248, 250, 252, 1) 100% /* white bottom */
    ),
    url('../../../../../assets/images/home-bg.webp');

  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 1;
  transform: scale(1.02);
  transform-origin: center;
}
