<app-base-overlay [title]=" data.popupTitle ?? 'Image Selector'">
  <div body>
    <div class="h-[60vh] w-full">
      <app-image-zone-selector [file]="data.imageFile ?? null"
                               [imageSrc]="data.imageUrl ?? null"
                               [aspect]="{ height: data.aspect.height, width: data.aspect.width }"
                               (changed)="onChanged($event)">
      </app-image-zone-selector>
    </div>
  </div>
  <div actions>
    <div class="flex justify-end">
      <app-button (click)="onConfirmClicked()">Confirm</app-button>
    </div>
  </div>
</app-base-overlay>


